.apex-btn{
    color: var(--apex-text-btn);
    padding: var(--apex-btn-padding);
    border: none;
    border-radius: var(--apex-btn-border-radius);
    cursor: pointer;
    margin-right: 1rem;
}
.apex-primary-btn{
    background-color: var(--primary-btn);
}
.apex-secondary-btn{
    background-color: var(--secondary-btn);
}
.apex-link{
    color: var(--apex-text-link-color);
    text-decoration: none;
}
.apex-link-btn{
    background-color: var(--link);
}
.apex-cart-btn{
    background-color: var(--cart-btn);
}
.apex-like-btn{
    background-color: var(--like-btn);
}
.apex-share-btn{
    background-color: var(--share-btn);
}
.apex-subscribe-btn{
    background-color: var(--subscribe-btn);
}
.floating-btn{
    color: var(--color-white);
    font-size: 1.2rem;
    background-color: var(--floating-btn);
    font-weight: bolder;
    padding: 10px 13px;
    border-radius: 50%;
    border: none;
    box-shadow: 5px 5px 10px 2px var(--floating-box-shadow);
    cursor: pointer;
}