@import url("../components/alert/alert.css");
@import url("../components/avatars/avatar.css");
@import url("../components/buttons/buttons.css");
:root{
    /* Alerts */
    /* Blue */
    --dark-blue:#00b8f5;
    --medium-blue:#7ebed3;
    --light-blue:#c1e9f6;
    /* Green */
    --dark-green:#43f143;
    --medium-green:#75ee75;
    --light-green:#ddfddd;
    /* Red */
    --dark-red:#ff3333;
    --medium-red:#f34e4e;
    --light-red:#ffe6e6;
    /* Orange */
    --dark-orange:#ffa500;
    --medium-orange:#ffc04d;
    --light-orange:#fff6e6;
    /* Alerts End */

    /* Buttons */
    --apex-text-btn:#ffffff;
    --primary-btn :#5c9be4;
    --secondary-btn:#2753e4;
    --link :#51c6e4;
    --cart-btn :#cdb132;
    --like-btn : #008000;
    --share-btn:#89d5ee;
    --subscribe-btn:#eb2d2d;
    --floating-btn:#68a8f1;
    --floating-box-shadow : #7a7272cc;
    --apex-text-link-color:#ffffff;
    --apex-btn-padding : 0.8rem;
    --apex-btn-border-radius : 0.8rem;
    /* Buttons End */
}