.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.apex-lists{
    text-align: center ;
    list-style-type: none;
}
.apex-list-items{
    font-size: 20px;
}
.stacked-lists{
    list-style-type: none;
}
