@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --component-library-name-font: 2.5rem;
  --cl-color: #4d4dff;
  --sidebar-background-color: white;
  --sidebar-text-color: white;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* The biggest Container */
.main-container {
  display: flex;
}
/* Logo */
.apex-branding {
  margin: 0.625rem;
  padding: 0.93rem;
  display: flex;
  border-bottom: 1px solid white;
}
.apex-logo {
  width: 1.87rem;
  height: 1.87rem;
}
.apex-svg-logo {
  width: 3.125rem;
  height: 3.06rem;
  margin-right: 5px;
  border-radius: 50%;
}
/* CL name */
.cl-name {
  font-size: var(--component-library-name-font);
  color: var(--cl-color);
}
.cl-name > a:hover {
  color: var(--cl-color);
}
.cl-name > a {
  /* font-weight: bold; */
  color: var(--cl-color);
  text-decoration: none;
}
/* Sidebar */
.sidebar {
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  flex-grow: 0;
  width: 20rem;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebar-links {
  display: block;
  padding: 0.938rem;
  color: black;
  border: 2px solid grey;
  font-size: 1.25rem;
  margin: 1.25rem 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-links:hover {
  font-weight: bold;
  color: white;
  background-color: var(--cl-color);
  transition: 0.6s;
}
/* Main Docs Content  */
.documentation {
  flex-grow: 1;
  padding: 1.56rem;
  margin-left: 20rem;
}
.main-component-details {
  padding: 0.625rem;
  border-bottom: 1px solid grey;
}
.docs-component-name {
  margin-bottom: 1.25rem;
}
.sub-component-details {
  padding: 0.625rem;
}
.component-code {
  margin: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  margin: 1.5rem 0px;
}
/* Alert Showcase */
.alerts-wrapper {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Avatar Showcase */
.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
/* Badges Showcase  */
.badges-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.simple-badges-wrapper,
.badges-on-avatar-wrapper {
  display: flex;
  gap: 60px;
}
.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/* Cards vertical and vertical-with-badge */
.cards-vertical-and-vertical-badge {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}
/* Horizontal Card  */
.horizontal-card-wrapper {
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal-card-display {
  width: 37.5rem;
}
/* Text overlay and text only card */
.card-with-text-overlay--wrapper {
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
/* Image  */
.image-wrapper {
  margin: 1.87rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
}
/* Image */
/* Inputs wrapper  */
.inputs-wrapper {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.87rem;
  justify-content: center;
  align-items: center;
}
.inputs-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.inputs-alerts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.styled-input-section {
  display: flex;
  flex-direction: column;
}
.input-error-styling-msg {
  font-size: small;
}
.success-input-style {
  color: var(--dark-green);
}
.warning-input-style {
  color: var(--dark-orange);
}
.error-input-style {
  color: var(--dark-red);
}
.choose-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.37rem;
}
/* Ratings */
.ratings-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Slider */
.slider-wrapper {
  margin-top: 2rem;
  text-align: center;
}
.text-headings {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  align-items: center;
  border: 1px solid var(--txt-grey-200);
  border-radius: 10px;
}
.text-alignment-section {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--txt-grey-200);
  border-radius: 10px;
}
.txt-utils-name{
    margin: 1rem;
}